.noticeText {
    width: fit-content;
    height: fit-content;
    margin-left: 12px;
    margin-right: 12px;
    margin: 12px;
    padding: 5px;
    font-family: Helvetica;
    font-style: italic;
    text-rendering: optimizeLegibility;
};