autopep8
boto3
coverage
django
django-cors-headers
django-dotenv
djangorestframework
django-rq
djangorestframework-simplejwt
django-storages
faker
gunicorn
motor
pandas
pillow
psutil
psycopg2-binary
pydantic
pymongo
pytest-django
python-jose[cryptography]
requests
rq
tldextract
waitress