
.notice {
    background-color: #e4e4e4;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

;
